<div class="events__index">
  <div class="event-group__background">
    <h3>Upcoming Events</h3>
    <%= render partial: "shared/events_group", locals: {passed_events: @public_upcoming_events} %>
    <% if @public_upcoming_events.empty? %>
      <p>There are no upcoming events at this time.</p>
    <% end %>
  </div>

  <div class="event-group__background">
    <h3>Past Events</h3>
    <%= render partial: "shared/events_group", locals: {passed_events: @public_past_events} %>
    <% if @public_past_events.empty? %>
      <p>There are no past events at this time.</p>
    <% end %>
  </div>
</div>