<div class="users_index__wrapper">
  <ul> 
    <% @users.reject { |user| user == @event.creator }.each do |user| %>
      <li>
        <%= user.username %>
        <% invited = @event.guest_lists.find { |guest| guest.attendee_id == user.id } %>
        <% if invited && @event.upcoming? %>
          <%= button_to "Uninvite", event_guest_list_path(invited.id, event_id: @event.id, user_id: user.id), data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                              }, disabled: invited.accepted  %>
        <% else %>
          <%= button_to "Invite", event_guest_lists_path(event_id: @event.id, user_id: user.id), method: :post %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>